<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configuração do manipulador de requisição ASP.NET Core -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- Configuração do aspNetCore -->
    <aspNetCore processPath="dotnet" arguments=".\Cidade_Inteligente.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    
    <!-- Diretório de log (opcional, mas útil para diagnóstico) -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
