<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configuração do manipulador de requisição ASP.NET Core -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <!-- Configuração do aspNetCore -->
    <aspNetCore processPath="dotnet" 
                arguments="D:\home\site\wwwroot\Cidade_Inteligente.dll" 
                stdoutLogEnabled="true" 
                stdoutLogFile="D:\home\LogFiles\stdout" 
                hostingModel="InProcess" />
    
    <!-- Configuração de navegação de diretório -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
